<ibm-table-container>
  <ibm-table-toolbar-content>
    <button ibmButton="primary" (click)="showAddModal()">
      <ng-container i18n>Add new video</ng-container>
      <svg ibmIcon="add" size="16" class="bx--btn__icon"></svg>
    </button>
  </ibm-table-toolbar-content>
  <ibm-table [model]="table" [sortable]="false" [striped]="false" [showSelectionColumn]="false" size="sh">
    <tr>
      <td colspan="3" i18n>Add videos to this event</td>
    </tr>
  </ibm-table>
</ibm-table-container>
<ng-template #navigateCell let-video="data">
  <a [routerLink]="['/video', video.id]">{{ video.title }}</a>
</ng-template>
<ng-template #removeButtonCell let-video="data">
  <app-event-video-remove-button
    [event]="event"
    [video]="video"
    (update)="update.emit($event)"
  ></app-event-video-remove-button>
</ng-template>
