<cds-modal [open]="open" (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 i18n cdsModalHeaderHeading>Add new video</h3>
  </cds-modal-header>
  <form cdsModalContent id="create-video-form" [hasForm]="true" [formGroup]="form" (ngSubmit)="onSubmit()">
    <cds-label [invalid]="!!titleInvalidText" [invalidText]="titleInvalidText">
      <ng-container i18n>Title</ng-container>
      <input
        [attr.modal-primary-focus]="true"
        i18n-placeholder
        cdsText
        formControlName="title"
        placeholder="Dorm interview series - Cats"
      />
    </cds-label>
    <cds-label [invalid]="!!urlInvalidText" [invalidText]="urlInvalidText" [helperText]="urlHelperText">
      <ng-container i18n>Url</ng-container>
      <input i18n-placeholder cdsText formControlName="url" placeholder="dorm-interview-series-cats" />
    </cds-label>
  </form>
  <cds-modal-footer>
    <button i18n cdsButton="primary" type="submit" form="create-video-form">Add video</button>
    <button i18n cdsButton="secondary" (click)="closeModal()">Cancel</button>
  </cds-modal-footer>
</cds-modal>
<ng-template #toastContent let-data>
  <app-toast-content-routed [toast]="data"></app-toast-content-routed>
</ng-template>
