@use "@carbon/elements";

main#app {
  min-height: calc(100vh - elements.$spacing-09 - elements.$fluid-spacing-03);
  margin-top: elements.$spacing-09;
  padding-top: elements.$spacing-05;
  margin-bottom: elements.$fluid-spacing-03;
}

footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: elements.$spacing-05;
  color: elements.$text-helper;
  padding-bottom: elements.$spacing-05;
}
