@import "@carbon/elements/scss/layout/layout";

ibm-modal {
  form {
    ibm-combo-box {
      margin-bottom: $spacing-04;
    }
  }

  ibm-modal-footer {
    button:first-of-type {
      order: 1;
    }
  }
}
