<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderLabel>{{ video.title }}</h3>
    <h3 ibmModalHeaderHeading i18n>Add crew member to video</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form">
    <ibm-label>
      <ng-container i18n>Position</ng-container>
      <input ibmText formControlName="position" list="positions" />
      <datalist id="positions">
        <option *ngFor="let position of positions" value="{{ position }}">{{ position }}</option>
      </datalist>
    </ibm-label>
    <ibm-label>
      <ng-container i18n>Member</ng-container>
      <input ibmText formControlName="memberId" list="members" />
      <datalist id="members">
        <option *ngFor="let member of members" value="{{ member.id }}">{{ member.name }}</option>
      </datalist>
    </ibm-label>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n (click)="onSubmit()" style="order: 1">Add crew member</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
