<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderLabel>{{ video.title }}</h3>
    <h3 ibmModalHeaderHeading i18n>Add crew member to video</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ibm-label [invalid]="!!positionInvalidText" [invalidText]="positionInvalidText">
      <ng-container i18n>Position</ng-container>
      <input ibmText formControlName="position" list="options" />
      <datalist id="options">
        <option *ngFor="let position of positions" [value]="position"></option>
      </datalist>
    </ibm-label>
    <ibm-combo-box formControlName="member" type="single" label="Member" i18n-label [items]="members">
      <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n (click)="onSubmit()">Add crew member</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
