<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderLabel>{{ event.title }}</h3>
    <h3 ibmModalHeaderHeading i18n>Add video to event</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ibm-combo-box formControlName="videoId" label="Video" i18n-label [items]="videos">
      <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n (click)="onSubmit()">Add video</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
