<form [formGroup]="form" (ngSubmit)="updateVideo()">
  <ibm-label>
    <ng-container i18n>Title:</ng-container>
    <input ibmText formControlName="title" />
  </ibm-label>
  <ibm-label [invalid]="form.controls.url.invalid" [invalidText]="form.controls.url.errors | json">
    <ng-container i18n>URL:</ng-container>
    <input ibmText formControlName="url" />
  </ibm-label>
  <ibm-label class="wide">
    <ng-container i18n>Description:</ng-container>
    <textarea ibmTextArea [rows]="5" formControlName="description"></textarea>
  </ibm-label>
  <ibm-date-picker
    label="Uploaded at:"
    i18n-label
    dateFormat="Y-m-d"
    placeholder="YYYY-MM-dd"
    formControlName="uploadedAt"
  ></ibm-date-picker>
  <ibm-toggle label="Visible" i18n-label formControlName="visible"></ibm-toggle>
  <button i18n ibmButton="primary" type="submit">Update</button>
</form>
