@use "@carbon/elements";

form {
  display: grid;
  grid-gap: elements.$spacing-04;
  margin-top: elements.$spacing-06;
  @media (min-width: 672px) {
    grid-template-columns: repeat(2, 1fr);
    .wide {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    button {
      justify-self: start;
      grid-column-start: 1;
    }
  }
}
