<form [formGroup]="form" (ngSubmit)="updateVideo()">
  <cds-label>
    <ng-container i18n>Title:</ng-container>
    <input cdsText formControlName="title" />
  </cds-label>
  <cds-label [invalid]="form.controls.url.invalid" [invalidText]="form.controls.url.errors | json">
    <ng-container i18n>URL:</ng-container>
    <input cdsText formControlName="url" />
  </cds-label>
  <cds-label class="wide">
    <ng-container i18n>Description:</ng-container>
    <textarea cdsTextArea [rows]="5" formControlName="description"></textarea>
  </cds-label>
  <cds-date-picker
    label="Uploaded at:"
    i18n-label
    dateFormat="Y-m-d"
    placeholder="YYYY-MM-dd"
    formControlName="uploadedAt"
  ></cds-date-picker>
  <cds-toggle label="Visible" i18n-label formControlName="visible"></cds-toggle>
  <button i18n cdsButton="primary" type="submit" [disabled]="form.pristine">Save</button>
</form>
