@import "@carbon/elements/scss/layout/layout";

form {
  display: grid;
  grid-gap: $spacing-04;
  margin-top: $layout-02;
  @media (min-width: 672px) {
    grid-template-columns: repeat(2, 1fr);
    .wide {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    button {
      justify-self: start;
      grid-column-start: 1;
    }
  }
}
