<section class="top-section">
  <h1>Update video</h1>
  <button ibmButton="danger" size="sm" (click)="removeVideo()">
    Remove
    <svg ibmIcon="delete" size="16" class="bx--btn__icon"></svg>
  </button>
</section>
<ibm-placeholder></ibm-placeholder>
<form [formGroup]="videoForm" (ngSubmit)="updateVideo()">
  <ibm-label>
    Url:
    <input ibmText formControlName="url" />
  </ibm-label>
  <ibm-label>
    Title:
    <input ibmText formControlName="title" />
  </ibm-label>
  <ibm-label>
    Description:
    <input ibmTextArea formControlName="description" />
  </ibm-label>
  <ibm-label>
    Video URL:
    <input ibmText formControlName="videoUrl" />
  </ibm-label>
  <ibm-label>
    Thumbnail URL:
    <input ibmText formControlName="thumbnailUrl" />
  </ibm-label>
  <ibm-date-picker-input label="Uploaded at:" formControlName="uploadedAt" type="single"> </ibm-date-picker-input>
  <ibm-label>
    Visible:
    <ibm-toggle formControlName="visible"></ibm-toggle>
  </ibm-label>
  <button ibmButton="primary" type="submit">Submit</button>
</form>
