<form [formGroup]="form" (ngSubmit)="submit()">
  <cds-label class="name">
    <ng-container i18n>Name</ng-container>
    <input cdsText formControlName="name" />
  </cds-label>
  <cds-label class="nickname">
    <ng-container i18n>Nickname</ng-container>
    <input cdsText formControlName="nickname" />
  </cds-label>
  <cds-label class="url">
    <ng-container i18n>URL</ng-container>
    <input cdsText formControlName="url" />
  </cds-label>
  <cds-label class="role">
    <ng-container i18n>Role</ng-container>
    <input cdsText formControlName="role" />
  </cds-label>
  <cds-label class="description">
    <ng-container i18n>Description</ng-container>
    <textarea cdsTextArea formControlName="description"></textarea>
  </cds-label>
  <cds-select formControlName="status" label="Status" i18n-label>
    <option *ngFor="let status of statuses" [value]="status">{{ status | memberStatus }}</option>
  </cds-select>
  <cds-date-picker
    label="Joined at:"
    i18n-label
    dateFormat="Y-m-d"
    placeholder="YYYY-MM-dd"
    formControlName="joinedAt"
  ></cds-date-picker>
  <div>
    <cds-toggle
      label="Archived"
      i18n-label
      formControlName="archived"
      offText="No"
      i18n-offText
      onText="Yes"
      i18n-onText
    ></cds-toggle>
    <button cdsButton="primary" type="submit" [disabled]="form.pristine">
      <ng-container i18n>Save</ng-container>
      <svg cdsIcon="save" size="16" class="cds--btn__icon"></svg>
    </button>
  </div>
</form>
