@use "@carbon/elements";

form {
  display: grid;
  grid-gap: elements.$spacing-04;
  @media (min-width: 672px) {
    grid-template-areas:
      "name nickname"
      "url role"
      "description description"
      "status joinedAt"
      "toggles toggles";
    cds-label.name {
      grid-area: name;
    }
    cds-label.nickname {
      grid-area: nickname;
    }
    cds-label.url {
      grid-area: url;
    }
    cds-label.role {
      grid-area: role;
    }
    cds-select {
      grid-area: status;
    }
    cds-date-picker {
      grid-area: joinedAt;
    }
    cds-label.description {
      grid-area: description;
    }
    div {
      grid-area: toggles;
    }
  }

  div {
    display: flex;
    align-items: flex-end;
  }
}
