<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderHeading i18n>Add new event</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form">
    <ibm-label [invalid]="!!titleInvalidText" [invalidText]="titleInvalidText">
      <ng-container i18n>Title</ng-container>
      <input
        ibmText
        formControlName="title"
        placeholder="Simonyi Conference 2022"
        i18n-placeholder
        [attr.modal-primary-focus]="true"
        (keyup.enter)="onSubmit()"
      />
    </ibm-label>
    <ibm-label [invalid]="!!urlInvalidText" [invalidText]="urlInvalidText" [helperText]="urlHelperText">
      <ng-container i18n>URL</ng-container>
      <input
        ibmText
        formControlName="url"
        placeholder="simonyi-conference-2022"
        i18n-placeholder
        (keyup.enter)="onSubmit()"
      />
    </ibm-label>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n (click)="onSubmit()" style="order: 1">Add event</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
