<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderHeading i18n>Add new event</h3>
  </ibm-modal-header>
  <form ibmModalContent id="create-event-form" [hasForm]="true" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ibm-label [invalid]="!!titleInvalidText" [invalidText]="titleInvalidText">
      <ng-container i18n>Title</ng-container>
      <input
        ibmText
        formControlName="title"
        placeholder="Simonyi Conference 2022"
        i18n-placeholder
        [attr.modal-primary-focus]="true"
      />
    </ibm-label>
    <ibm-label [invalid]="!!urlInvalidText" [invalidText]="urlInvalidText" [helperText]="urlHelperText">
      <ng-container i18n>URL</ng-container>
      <input ibmText formControlName="url" placeholder="simonyi-conference-2022" i18n-placeholder />
    </ibm-label>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n type="submit" form="create-event-form">Add event</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
<ng-template #toastContent let-data>
  <app-toast-content-routed [toast]="data"></app-toast-content-routed>
</ng-template>
