<app-member-breadcrumb [name]="member.name"></app-member-breadcrumb>
<section>
  <h1 i18n>Update member</h1>
  <app-member-remove-button [member]="member"></app-member-remove-button>
</section>
<figure>
  <picture>
    <source type="image/avif" srcset="/media/member/{{member.id}}/profile-picture.avif#{{ imgDate }}" />
    <source type="image/webp" srcset="/media/member/{{member.id}}/profile-picture.webp#{{ imgDate }}" />
    <source type="image/jpeg" srcset="/media/member/{{member.id}}/profile-picture.jpeg#{{ imgDate }}" />
    <img
      #img
      src="/assets/fallback.jpg"
      decoding="async"
      loading="lazy"
      width="120"
      alt="{{ member.name }}'s profile picture"
      i18n-alt
    />
  </picture>
  <figcaption>{{ img.alt }}</figcaption>
</figure>
<app-member-update-form [member]="member" (update)="setMember($event)"></app-member-update-form>
