@import "@carbon/elements/scss/layout";

:host {
  display: grid;
  grid-column-gap: $spacing-06;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
   "breadcrumb breadcrumb"
   "title      title"
   "details    picture";

  app-breadcrumb {
    grid-area: breadcrumb
  }

  section.title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
  }

  section.profile-picture {
    grid-area: picture;
  }

  section.details {
    grid-area: details;
  }
}
