<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input
    cdsText
    size="md"
    theme="light"
    formControlName="position"
    placeholder="Position"
    i18n-placeholder
    list="options"
    [invalid]="form.controls.position.invalid && form.controls.position.touched"
  />
  <datalist id="options">
    <option *ngFor="let position of positions" [value]="position"></option>
  </datalist>
  <cds-combo-box
    size="md"
    formControlName="member"
    theme="light"
    type="single"
    placeholder="Member name"
    i18n-placeholder
    [items]="members"
    [invalid]="form.controls.member.invalid && form.controls.member.touched"
  >
    <cds-dropdown-list></cds-dropdown-list>
  </cds-combo-box>
  <button cdsButton="primary" size="lg" type="submit" [disabled]="form.pristine">
    <svg cdsIcon="add" size="16" class="cds--btn__icon"></svg>
    <span i18n>Add crew member</span>
  </button>
</form>
