<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderHeading i18n>Add new member</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form">
    <ibm-label>
      <ng-container i18n>Name</ng-container>
      <input ibmText i18n-placeholder formControlName="name" placeholder="John Doe" />
    </ibm-label>
    <ibm-label i18n-helperText helperText="The member will have the following url: https://bsstudio/member/johnny-d">
      <ng-container i18n>Url</ng-container>
      <input ibmText i18n-placeholder formControlName="url" placeholder="johnny-d" />
    </ibm-label>
  </form>
  <ibm-modal-footer>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
    <button ibmButton="primary" i18n (click)="onSubmit()">Add member</button>
  </ibm-modal-footer>
</ibm-modal>
