@use "@carbon/elements";

div#video-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

section {
  margin-bottom: elements.$spacing-06;

  &#video-inspect {
    video {
      max-width: 100%;
    }
  }
}
