<app-breadcrumb [title]="video.title" parentRoute="video" parentTitle="Videos" i18n-parentTitle></app-breadcrumb>
<h1 i18n>Update video</h1>
<section id="video-update-metadata">
  <h2 i18n>Metadata</h2>
  <app-video-update-form [video]="video" (update)="setVideo($event)"></app-video-update-form>
</section>
<section id="video-crew">
  <h2 i18n>Crew</h2>
  <app-video-crew-table [video]="video" (update)="setVideo($event)"></app-video-crew-table>
</section>
<section id="video-update-inspect">
  <h2>Inspect video</h2>
  <video
    appVideoPlayer
    src="/media/video/{{ video.id }}/main.m3u8"
    poster="/media/video/{{ video.id }}/poster.jpeg"
    width="720px"
  ></video>
</section>
<section id="video-update-remove">
  <h2 i18n>Remove video</h2>
  <app-video-remove-button [video]="video"></app-video-remove-button>
</section>
