<ibm-table-container>
  <ibm-table-toolbar-content>
    <button ibmButton="primary" (click)="showAddModal()">
      <ng-container i18n>Add new crew member</ng-container>
      <svg ibmIcon="add" size="16" class="bx--btn__icon"></svg>
    </button>
  </ibm-table-toolbar-content>
  <ibm-table [model]="table" [sortable]="false" [striped]="false" [showSelectionColumn]="false" size="sh"> </ibm-table>
</ibm-table-container>
<ng-template #removeCrewMemberCell let-crewMember="data">
  <button
    ibmButton="danger"
    size="field"
    [iconOnly]="true"
    assistiveTextAlignment="end"
    assistiveTextPlacement="left"
    class="row-button"
    (click)="removeCrewMember(crewMember)"
  >
    <span i18n class="bx--assistive-text">Remove {{ crewMember.memberId }} {{ crewMember.position }} from event</span>
    <svg ibmIcon="delete" size="16" class="bx--btn__icon"></svg>
  </button>
</ng-template>
