@use "@carbon/elements";

form {
  display: flex;
  flex-wrap: wrap;
  gap: elements.$spacing-03;
  justify-content: flex-end;
  align-items: flex-start;

  cds-combo-box {
    flex: max-content;
  }
}
