@use "@carbon/elements";

form {
  display: grid;
  grid-gap: elements.$spacing-04;
  @media (min-width: 672px) {
    grid-template-areas:
    "title url"
    "description description"
    "date visible"
    "submit submit";
    cds-label.url {
      grid-area: url;
    }
    cds-label.title {
      grid-area: title;
    }
    cds-label.description {
      grid-area: description;
    }
    cds-toggle {
      grid-area: visible;
    }
    cds-date-picker {
      grid-area: date;
    }
    button {
      grid-area: submit;
    }
  }
  button {
    justify-self: start;
  }
}
