<form [formGroup]="form" (ngSubmit)="submit()">
  <cds-label class="title">
    <ng-container i18n>Title</ng-container>
    <input cdsText formControlName="title" />
  </cds-label>
  <cds-label class="url">
    <ng-container i18n>URL</ng-container>
    <input cdsText formControlName="url" />
  </cds-label>
  <cds-label class="description">
    <ng-container i18n>Description</ng-container>
    <textarea cdsTextArea formControlName="description"></textarea>
  </cds-label>
  <cds-date-picker
    label="Date:"
    i18n-label
    dateFormat="Y-m-d"
    placeholder="YYYY-MM-dd"
    formControlName="date"
  ></cds-date-picker>
  <cds-toggle formControlName="visible" label="Visible" i18n-label></cds-toggle>
  <button cdsButton="primary" type="submit" [disabled]="form.pristine">
    <ng-container i18n>Save</ng-container>
    <svg cdsIcon="save" size="16" class="cds--btn__icon"></svg>
  </button>
</form>
