<cds-table-container>
  <cds-table-toolbar>
    <cds-table-toolbar-actions></cds-table-toolbar-actions>
    <cds-table-toolbar-content>
      <cds-table-toolbar-search
        [expandable]="true"
        (valueChange)="filterNodeNames($event)"
        (clear)="searchValue = ''"
      ></cds-table-toolbar-search>
      <cds-icon-button
        kind="secondary"
        align="top"
        description="Refresh"
        i18n-description
        [disabled]="loading"
        (click)="getMembers()"
      >
        <svg cdsIcon="renew" size="16" class="cds--btn__icon"></svg>
      </cds-icon-button>
      <button cdsButton="primary" (click)="showAddModal()">
        <ng-container i18n>Add new member</ng-container>
        <svg cdsIcon="add" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-content>
  </cds-table-toolbar>
  <cds-table
    [model]="table"
    [sortable]="true"
    [showSelectionColumn]="false"
    [striped]="false"
    (rowClick)="onRowClick($event)"
    size="lg"
  >
    <tr>
      <td colspan="5"><cds-inline-loading loadingText="Loading" i18n-loadingText></cds-inline-loading></td>
    </tr>
  </cds-table>
</cds-table-container>
