<cds-modal [open]="open" (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading i18n>Add new member</h3>
  </cds-modal-header>
  <form cdsModalContent id="create-member-form" [hasForm]="true" [formGroup]="form" (ngSubmit)="onSubmit()">
    <cds-label [invalid]="!!nameInvalidText" [invalidText]="nameInvalidText">
      <ng-container i18n>Name</ng-container>
      <input cdsText formControlName="name" i18n-placeholder placeholder="John Doe" [attr.modal-primary-focus]="true" />
    </cds-label>
    <cds-label [invalid]="!!urlInvalidText" [invalidText]="urlInvalidText" [helperText]="urlHelperText">
      <ng-container i18n>Url</ng-container>
      <input cdsText formControlName="url" i18n-placeholder placeholder="jdoe" />
    </cds-label>
  </form>
  <cds-modal-footer>
    <button cdsButton="primary" type="submit" form="create-member-form" i18n>Add member</button>
    <button cdsButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </cds-modal-footer>
</cds-modal>
<ng-template #toastContent let-data>
  <app-toast-content-routed [toast]="data"></app-toast-content-routed>
</ng-template>
