<ibm-modal [open]="open" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h3 ibmModalHeaderHeading i18n>Add new member</h3>
  </ibm-modal-header>
  <form ibmModalContent [hasForm]="true" [formGroup]="form">
    <ibm-label [invalid]="!!nameInvalidText" [invalidText]="nameInvalidText">
      <ng-container i18n>Name</ng-container>
      <input
        ibmText
        formControlName="name"
        i18n-placeholder
        placeholder="John Doe"
        [attr.modal-primary-focus]="true"
        (keyup.enter)="onSubmit()"
      />
    </ibm-label>
    <ibm-label [invalid]="!!urlInvalidText" [invalidText]="urlInvalidText" [helperText]="urlHelperText">
      <ng-container i18n>Url</ng-container>
      <input ibmText formControlName="url" i18n-placeholder placeholder="jdoe" (keyup.enter)="onSubmit()" />
    </ibm-label>
  </form>
  <ibm-modal-footer>
    <button ibmButton="primary" i18n (click)="onSubmit()" style="order: 1">Add member</button>
    <button ibmButton="secondary" i18n (click)="closeModal()">Cancel</button>
  </ibm-modal-footer>
</ibm-modal>
