<cds-table-container>
  <cds-table-header>
    <h4 cdsTableHeaderTitle i18n>Assigned videos</h4>
    <span i18n>To add a video select one in the drop down list and press the button</span>
  </cds-table-header>
  <cds-table-toolbar [model]="table">
    <cds-table-toolbar-actions>
      <button cdsButton="primary" (click)="changeVisibilityTo(true)">
        <ng-container i18n>Reveal selected</ng-container>
        <svg cdsIcon="view" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" (click)="changeVisibilityTo(false)">
        <ng-container i18n>Hide selected</ng-container>
        <svg cdsIcon="view--off--filled" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-actions>
    <cds-table-toolbar-content style="height: auto">
      <app-event-video-add-form-component
        [event]="event"
        (update)="updateEvent($event)"
      ></app-event-video-add-form-component>
    </cds-table-toolbar-content>
  </cds-table-toolbar>
  <cds-table [model]="table" [sortable]="true" [striped]="false" [showSelectionColumn]="true" size="lg"> </cds-table>
</cds-table-container>
<ng-template #navigateCell let-video="data">
  <a [routerLink]="['/video', video.id]">{{ video.title }}</a>
</ng-template>
<ng-template #removeButtonCell let-video="data">
  <app-event-video-remove-button
    [event]="event"
    [video]="video"
    (update)="update.emit($event)"
  ></app-event-video-remove-button>
</ng-template>
