<cds-table-container>
  <cds-table-toolbar size="md" [model]="table">
    <cds-table-toolbar-actions>
      <button cdsButton="primary" (click)="changeVisibilityTo(true)">
        <ng-container i18n>Reveal selected</ng-container>
        <svg cdsIcon="view" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" (click)="changeVisibilityTo(false)">
        <ng-container i18n>Hide selected</ng-container>
        <svg cdsIcon="view--off--filled" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-actions>
    <cds-table-toolbar-content>
      <cds-icon-button
        kind="secondary"
        align="left"
        description="Refresh"
        i18n-description
        [disabled]="loading"
        (click)="getVideos()"
      >
        <svg cdsIcon="renew" size="16" class="cds--btn__icon"></svg>
      </cds-icon-button>
      <button cdsButton="primary" (click)="showAddModal()">
        <ng-container i18n>Add new video</ng-container>
        <svg cdsIcon="add" size="16" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-content>
  </cds-table-toolbar>
  <cds-table
    [model]="table"
    [sortable]="true"
    size="lg"
    [showSelectionColumn]="true"
    [striped]="false"
    (rowClick)="onRowClick($event)"
    (sort)="sort($event)"
  >
    <tbody>
      <tr>
        <td colspan="5">
          <cds-inline-loading *ngIf="loading" loadingText="Loading" i18n-loadingText></cds-inline-loading>
          <ng-container *ngIf="!loading" i18n>No videos have been added yet</ng-container>
        </td>
      </tr>
    </tbody>
  </cds-table>
  <cds-pagination [model]="table" (selectPage)="onPageSelect($event)"></cds-pagination>
</cds-table-container>
